
{% extends "oscar/layout_2_col.html" %}
{% load i18n %}
{% load basket_tags %}
{% load product_tags %}
{% load category_tags %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block headertext %}{{ summary }}{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ homepage_url }}">{% trans "Home" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ summary }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}

{% block column_left %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
        <h4 class="lead">
            {% trans "Show results for" %}
        </h4>
        <div class="side_categories shadow p-3 mb-2 bg-body rounded">
            <ul class="nav-list list-group list-group-flush">

                {% for tree_category in tree_categories %}
                    <li class="list-group-item">
                        <a class="page-link" href="{{ tree_category.url }}">
                            {% if tree_category.pk == category.pk %}
                                <span>{{ tree_category.name }}</span>
                                {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>

                        {% if tree_category.has_children %}
                        <ul>
                            {% else %}
                            </li>
                        {% endif %}

                        {% for n in tree_category.num_to_close %}
                            </ul>
                            </li>
                        {% endfor %}
                {% endfor %}

            </ul>
        </div>
    {% endif %}

    {% if has_facets %}
        <h3 class="lead">{% trans "Refine by" %}</h4>
        <div class="side_categories card card-body bg-light">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'oscar/search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    <form method="get">
        {# Render other search params as hidden inputs #}
        {% for value in selected_facets %}
            <input type="hidden" name="selected_facets" value="{{ value }}" />
        {% endfor %}
        <input type="hidden" name="q" value="{{ search_form.q.value|default_if_none:"" }}" />

        {% if paginator.count %}
            {% if paginator.num_pages > 1 %}
            <ul class="list-group list-group-horizontal">
                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                    <li class="list-group-item">
                        {{ num_results }}</li> result - showing <li>{{ start }}</li> to <li>{{ end }}
                    </li>
                {% plural %}
                    <li class="list-group-item">
                        {{ num_results }}</li> results - showing <li>{{ start }}</li> to <li>{{ end }}
                    </li>
                {% endblocktrans %}

                {% else %}
                {% blocktrans count num_results=paginator.count %}
                    <li class="list-group-item">{{ num_results }}<i class="bi bi-ui-checks-grid ms-3"></i></li>
                {% plural %}
                    <li class="list-group-item me-3">{{ num_results }}<i class="bi bi-ui-checks ms-3"></i></li>
                {% endblocktrans %}
            </ul>
            {% endif %}

            {% if form %}
                <div class="float-end">
                    {% include "oscar/partials/form_field.html" with field=form.sort_by style='horizontal' %}
                </div>
            {% endif %}

            {% else %}
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    {% trans "0 results." %}
                </li>
            </ul>
        {% endif %}
    </form>

    {% if products %}
        <section>
            <div class="shadow p-3 mb-5 rounded">
                <div class="d-flex list-unstyled mt-1">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="shadow p-2 me-2 mb-4 bg-body rounded">
                                {% render_product product %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include "oscar/partials/pagination.html" %}
            </div>
        </section>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}

{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
