
{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% block title %}
    {% trans "Products" %} | {{ block.super }}
{% endblock %}

{% block body_class %}{{ block.super }} catalogue{% endblock %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
                {% trans "Products" %}
            </li>
        </ol>
    </nav>
{% endblock %}

{% block header %}
    <div class="container page-header">
        <h1 class="display-6">{% trans "Products" %}</h1>
    </div>
{% endblock header %}

{% block dashboard_content %}
    {% block create_product %}
        <div class="container list-group list-group-horizontal justify-content-between shadow p-3 mb-4 bg-light rounded">
            <h4 class="lead">
                <i class="bi bi-diagram-3-fill me-2"></i>
                {% trans "Create new product" %}
            </h4>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form class="d-flex" action="{% url 'dashboard:catalogue-product-create' %}" method="get">
                {% include "oscar/dashboard/partials/form_fields_inline.html" with form=productclass_form %}
                <button class="btn btn-outline-primary btn-sm" type="submit" data-loading-text="{% trans 'Submitting...' %}">
                    <i class="bi bi-plus-circle me-2"></i>
                    {% trans "New Product" %}
                </button>
            </form>
        </div>
    {% endblock %}

    {% block search_products %}
        <div class="container list-group list-group-horizontal justify-content-between shadow p-3 mb-4 bg-light rounded">
            <h4 class="lead">
                <i class="bi bi-search me-2"></i>
                {% trans "Search Products" %}
            </h4>
        </div>
        <div class="shadow p-3 mb-5 bg-body rounded">
            <form class="d-flex" method="get">
                {% for name, value in request.GET.items %}
                    {% if name not in form.fields %}
                        <input type="hidden" name="{{ name }}" value="{{ value }}"/>
                    {% endif %}
                {% endfor %}

                {% include "oscar/dashboard/partials/form_fields_inline.html" with form=form %}
                <button class="btn btn-outline-primary btn-sm" type="submit" data-loading-text="{% trans 'Searching...' %}">
                    <i class="bi bi-search me-2"></i>
                    {% trans "Search" %}
                </button>
            </form>
        </div>
    {% endblock %}

    {% if products %}
        {% block product_list %}
            <form method="post">
                {% csrf_token %}
                {% render_table products %}
            </form>
            <div class="modal fade" id="product-image-modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        </div>
                        <div class="modal-body text-center">
                            <img class="img-fluid mx-auto">
                        </div>
                    </div>
                </div>
            </div>
        {% endblock product_list %}
    {% else %}
        <p>{% trans "No products found." %}</p>
    {% endif %}

{% endblock dashboard_content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.dashboard.product_lists.init();
{% endblock onbodyload %}
