

/* carousel */
    .container.myslider{
        height: 100vh;
        margin: 3em auto 1em auto;
    }
    .carousel-inner {
        height: 100%;
    }
    .carousel-item{
        height: calc(80vh - 3em);
        min-height: 280px;
        text-align: center;
    }

    .carousel-item::before{
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: #fff;
        z-index: 1;
    }
    .carousel-item.active::before{
        left: -100%;
        transition: left .8s;
    }
    .carousel-item img{
        width: auto;
        height: 100%;
        margin: 0;
        float: right;
    }
    .carousel-item.active img{
    }


    .carousel_explanation{
        height: 100%;
        width: 72.5%;
        top: 0;
        left: 0;
        position: absolute;
        text-align: left;
        background-image: url(title.svg);
        background-size: 66% auto;
        background-position: bottom right;
        background-repeat: no-repeat;
    }

    .slide_body{
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .carousel_title{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: flex-start;
    }
    .carousel_title{
        width: 80%;
        text-transform: lowercase;
    }
    .carousel_title_h,
    .carousel_title p,
    .carousel_title small{
        text-transform: lowercase;
    }

    .carousel_title img{
        width: 2em;
        height: auto;
        margin: 0 1em 0 0;
        float: left;
    }
/*     .carousel-indicators li{
        width: 66px;
        height: 66px;
    } */
    .carousel-indicators [data-bs-target] {
        box-sizing: content-box;
        flex: 0 1 auto;
        width: 66px;
        height: 66px;
        padding: 0;
        margin: 0 .1em;
        text-indent: -999px;
        cursor: pointer;
        background-color: #FEFFFF;
        background-clip: padding-box;
        border: thin solid #8A9CAF;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        opacity: .5;
        transition: opacity .6s ease;
    }
    .carousel_nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .perma_link{
        margin: 1em;
        float: left;
    }
    ol.carousel-indicators{
        padding: 0;
        margin: 0 auto;
    }


    @media  (max-width:1024px){

        .carousel_explanation{
            width: 66%;
            background-size: 80% auto;
        }
        .carousel_title{
            width: 100%;
        }
    }


    @media  (max-width:900px){

        .myslider {
            height: 100vh;
        }
        .carousel_explanation{
            height: 100%;
            width: 100%;
        }
        .carousel-item {
            height: 80vh;
        }
        .carousel-item img{
            height: 60%;
            margin-top: 33%
        }
    }

/* end */